{% extends 'base.html' %}
{% load static %}

{% block title %}
HOME
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="top_banner_image">
            <img src="{% static 'images/Two Dog.jpg' %}" alt="top_banner_image" />
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-8">
        <div class="descriptions_animal">
            <div class="Characteristics">
                <h1>Characteristics of Animals</h1>
                <p> An animal pertains to any of the eukaryotic multicellular organisms that comprise the biological kingdom of Animalia. Animals possess several characteristics that set them apart from other living things. Some of their general characteristics are as follows: </p>
                <ul>
                    <li>Animals are multicellular organisms. The animal body is composed of several cells performing specific functions as opposed to bacteria and most protists that are unicellular. The cells may then be organized into various animal tissues, such as epithelial tissues, connective tissues, muscle tissues, nervous tissues, and vascular tissues. The cells in tissues may be held through cell junctions, e.g. tight junctions, gap junctions, and desmosomes.</li>
                    <li>Animals are eukaryotic. An animal cell contains a membrane-bound nucleus. The nucleus is the organelle that contains chromosomes that bear genes. Apart from the nucleus, there are other organelles suspended in the cytoplasm of an animal cell, such as the Golgi apparatus, endoplasmic reticulum, lysosomes, and peroxisomes. Animal cells lack plastids and cell walls, which are abundant in plant cells, algae, and certain fungi.READ: Plant Cells vs. Animal Cells – Biology Online Tutorial</li>
                    <li>Animals are heterotrophic. Unlike plants and algae that are autotrophic, the animals depend on another organism for food. Animal carnivores, for instance, are adapted to hunting their prey while others scavenge for animal carcasses or remains. Others feed on plants and as such are referred to as herbivores. Omnivores are animals that feed on both plants and animals. Most animals have an elaborate digestive system in the form of an internal chamber (a digestive tract) that processes ingested food to extract nutrients from it and then released it from the body in the form of excreta or a waste matter. Many animals have a mouth for ingestion and anus for excretion. Other animals (e.g. Platyhelminthes, cnidarians) have only one opening that serves both as a mouth and an anus. Poriferans, in contrast, lack a digestive system (as well as nervous and circulatory systems).</li>
                    <li>Animals are generally motile. They have the capacity to move at will. They can spontaneously and actively move by metabolically utilizing energy (e.g. ATP) during the process and with the aid of muscles and locomotory structures (e.g. arms, legs, wings, fins, tails, etc.). Animal locomotion refers to the variety of movements that animals use to move from one location to another. Some of these movements are running, walking, jumping, hopping, slithering, swimming, gliding, flying, soaring, and so on. Animals move for multifarious reasons. Some of the reasons animals move are to hunt prey, escape predators, and find a mate or a suitable habitat. There are animals, though, that have become sessile later in life. They become permanently attached to a substrate. Examples are barnacles, sponges, mussels, and corals.</li>
                    <li>Animals possess specialized sensory organs such as eyes, ears, nose, skin, and tongue. These sensory organs are vital for use in recognizing and responding to stimuli in the environment. Each of these sense organs contains common and specialized receptors.</li>
                    <li>Animals reproduce sexually. They produce a haploid sperm cell (a male sex cell) and a haploid ovum (a female sex cell) that unite at fertilization to form a diploid zygote. Conversely, some animals are capable of asexual reproduction. For instance, some cnidarians produce a genetic clone by budding. Others (e.g. aphids) are capable of parthenogenesis whereby they produce fertile eggs without mating.</li>
                    <li>Animals develop from an embryo that passes through a blastula stage. In early embryonic development, a fluid-filled cavity called blastocoel appears within a morula (i.e. a ball of cells that forms from a series of cell divisions). At this point, the embryo is referred to as a blastula. Cell movement and differentiation start to occur during this stage.</li>
                    <li>Animals have a distinctive cell division when a cleavage furrow forms to separate daughter cells. This is in contrast to the plant’s cell plate (phragmoplast) that forms in cell division.</li>
                    <li>Animals respire aerobically, taking in oxygen (inspiration) and then releasing carbon dioxide (expiration). Oxygen is important to cell respiration as it serves as the final electron acceptor in redox reactions during the synthesis of metabolic energy. The different animal structures involved in the exchange of respiratory gases: (1) skin of tapeworms, earthworms, and leeches, (2) trachea of insects, (3) gills of fish, and (4) lungs of mammals, reptiles, and birds. Amphibians use different respiratory organs at different stages, i.e. gills at the tadpole stage and then skin and lungs at the adult stage.</li>
                    <li>With few exceptions, animals possess the following general biological systems: integumentary system, lymphatic system, muscular system, nervous system, reproductive system, respiratory system, skeletal system, and urinary system.</li>
                </ul>
            </div>
            <div class="body">
                <h1>Animal Body Plan</h1>
                <p>Most animals (at least 99%) have a bilaterally symmetric body plan. When the body is divided by a sagittal plane, the result is having two sides with roughly mirror images, at least morphologically. Most animals are sexually dimorphic, i.e. males and females exhibit different characteristics aside from the differences in their sex organs. For example, males are typically taller and bigger in size than females. In another example, the plumage of birds and the scales of fish are usually more vibrant or colorful in males than in females, which seem to be essential in attracting mates.

                    In general, animals have the following body systems (as mentioned previously) and each of these systems is made up of organs and tissues. The organs, in turn, are made up of tissues that carry out a particular function. The tissues consist of cells that perform various metabolic activities. There are two major types of cells: somatic cells and sex cells (i.e. sperm cell and egg cell).
                    
                    At the cellular level, an animal cell has compartmentalized structures called organelles. The different organelles are mitochondria, Golgi apparatus, endoplasmic reticulum, lysosomes, and peroxisomes. Plastids, which are abundant in a plant or an autotrophic cell, are not present in animal cells. The cell wall is also lacking. Thus, an animal cell in a hypotonic solution will swell and eventually burst (lyse) since it lacks the cell wall that prevents lysis during excessive osmosis. The nucleus contains chromosomes that can be classified into two types: autosomes and sex chromosomes.</p>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}
